* {
    margin: 0;
    padding: 0;  
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
}

.card {
    margin: 150px auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 350px;
    border-radius: 15px;
    padding: 18px 10px;
}

.card__containerimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img {
    width: 95%;
    height: 95%;
    border-radius: 15px;
    object-fit: cover;
}

.card__containerinfor {
    margin: 20px 0 0 7px;
}

.card__category {
    background-color: hsl(47, 88%, 63%);
    width: 95px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 800;
    margin-bottom: 10px;
}

